* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 600px;
}

.nav {
    position: sticky;
    background-color: #262b2f;
    color: white;
    font-family: "PT Sans";
    font-size: 2rem;
    /* font-weight: 900; */
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 20px;
}

.nav a {
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
    background-image: linear-gradient(90deg, white, rgb(56, 56, 56));
    background-size: 0% 3px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.nav a:hover{
    background-size: 100% 3px;
}

p{
    font-family: 'PT Sans';
    font-size: 2rem;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

.div0{
    background-color: #262b2f;
    height: 50px;
    width: fit-content;
    margin-top: 100px;
}

.div1{
    background-color: #262b2f;
    height: 50px;
    width: fit-content;
    margin-top: 25px;
}

.p {
    margin-top: 50px;
    color: #262b2f;
    font-size: 1rem;
}